asgiref==3.8.1
certifi==2025.8.3
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==45.0.7
Django==5.0.6
docutils==0.21.2
idna==3.10
importlib_metadata==8.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.4.1
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.5.0
nh3==0.2.18
numpy==1.26.4
pandas==2.1.4
pdfminer.six==20250506
pdfplumber==0.11.7
Pillow==9.5.0
pkginfo==1.10.0
pycparser==2.22
Pygments==2.19.2
PyMuPDF==1.26.4
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.2
readme_renderer==44.0
requests==2.32.4
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.1.0
six==1.17.0
sqlparse==0.5.0
twine==5.1.1
tzdata==2025.2
urllib3==2.5.0
zipp==3.23.0
